@model E_Ticaret_4Son.Models.Sepet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sepet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urunler.UrunAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urunler.UrunAdı)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SepetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
