@model IEnumerable<E_Ticaret_4Son.Models.Sepet>

@{
    ViewBag.Title = User.Identity.Name + "'nin sepeti";
}

<!-- ============================ COMPONENT 1 ================================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">@ViewBag.Title</h2>
    </div> <!-- container //  -->
</section>
<div class="row">
    <aside class="col-lg-9">
        <div class="card">
            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                    <tr class="small text-uppercase">
                        <th scope="col">Ürün</th>
                        <th scope="col" width="120">Adet</th>
                        <th scope="col" width="120">Fİyat</th>
                        <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">

                                    <div class="aside"><img src="~/İmage/@(item.RefUrunID).jpg" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="#" class="title text-dark">@item.Urunler.UrunAdı</a>
                                        <p class="text-muted small">@item.Urunler.Kategoriler.KategoriAdı</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <form action="/Sepets/SepeteGuncelle" method="post">
                                    <input type="hidden" name="id" id="id" value="@item.SepetID" />
                                    <select class="form-control" name="adet" id="adet" value="@item.Adet"onchange="this.form.submit()">
                                        <option value="@item.Adet" selected hidden>@item.Adet</option>
                                        <option value="1">1</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </form>
                            </td>

                            <td>
                                <div class="price-wrap">
                                    <var class="price">@item.ToplamTutar.ToString("0,0.") TL</var>
                                    @*<small class="text-muted"> $315.20 each </small> indirimli fiyat*@
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right">
                                @*<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>*@
                                <a class="btn" id="kalp" onclick="degis()"> <i class="fa fa-heart"></i></a>
                                @Html.ActionLink("İptal Et", "Sil", new { id = item.SepetID }, new { @class = "btn btn-danger" })
                                @*<a href="" class="btn btn-danger"> İptal Et</a>*@
                                <script>
                                    var kalpp = document.getElementById("kalp");
                                    function degis() {
                                        kalpp.style.color = "#ff0000";
                                        console.log("tıklandı");
                                    }

                                </script>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- card-body.// -->

        </div> <!-- card.// -->
        <div class="alert alert-success mt-3">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i>1.000 TL Ve Üzeri Ücretsiz Kargo</p>
        </div>

    </aside> <!-- col.// -->
    <aside class="col-lg-3">

        <div class="card mb-3">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Kuponunuz var mı?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="" placeholder="Kupon Kodu">
                            <span class="input-group-append">
                                <button class="btn btn-primary">Uygula</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card.// -->

        <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                    <dt>Toplam Tutar:</dt>
                    <dd class="text-right">@Model.Sum(t => t.ToplamTutar).ToString("0,0.") TL</dd>
                </dl>
                <dl class="dlist-align">
                    <dt>İndirim:</dt>
                    <dd class="text-right text-danger">0TL</dd>
                </dl>
                <dl class="dlist-align">
                    <dt>Toplam:</dt>
                    <dd class="text-right text-dark b"><strong>@Model.Sum(t => t.ToplamTutar).ToString("0,0.") TL</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="../images/misc/payments.png" height="26">
                </p>
                <a href="/Siparis/SiparisTamamla" class="btn btn-success btn-block"> Satın Al </a>
                <a href="/Home" class="btn btn-light btn-block">Alışverişe devam et</a>
            </div> <!-- card-body.// -->
        </div> <!-- card.// -->

    </aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
