@using E_Ticaret_4Son.Models;
<link href="~/Content/KartTasarim.css" rel="stylesheet" />

@{
    ViewBag.Title = "Ana Sayfaaaaa";

    List<Kategoriler> KategoriListesi = ViewBag.KategoriListesi;
    List<Urunler> SonUrunler = ViewBag.SonUrunler;

}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Kategoriler</h2>
        <ul>
            @foreach (var item in KategoriListesi)
            {
                <li>@Html.ActionLink(item.KategoriAdı, "Kategori", new { id = item.KategoriID })</li>
            }
        </ul>

    </div>

    <div class="col-md-9">


        <div class="row">


            @foreach (var item in SonUrunler)
            {


                <div class="col-md-4">
                    <figure class="card card-product-grid card-lg">
                        <a href="~/Home/Urun/@item.UrunID"  class="img-wrap" data-abc="true">  <img src="~/İmage/@(item.UrunID).jpg" width="100" /> </a>
                        <figcaption class="info-wrap">
                            <div class="row">

                                <div class="col-md-10 col-xs-12">
                                    <a class="title" data-abc="true">
                                        <!-- <div style=" overflow: hidden;display:-webkit-box;-webkit-line-clamp:2; -webkit-box-orient: vertical;" class="entry-content"><p></p> </div> -->
                                        @item.UrunAdı
                                    </a>
                                    <span class="rated">@Html.DisplayFor(a => item.Kategoriler.KategoriAdı)</span>
                                </div>

                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12"> <a  class="title" data-abc="true" style=" font-weight: 700;">@item.UrunFiyati.ToString("0,0.") TL</a> <span class="rated">Tüm Kartlar</span> </div>

                                </div>
                            </figcaption>
                        </div>
                        @*<div class="bottom-wrap">
                            <div class="col-md-6"><a href="#" class="btn btn-primary">Satın Al</a></div>
                            <div class="col-md-6"> @Html.ActionLink("Detaylar", "Urun", new { id = item.UrunID }, new { @class = "btn btn-warning" })</div>
                        </div>*@
                    </figure>
                </div>

            }

        </div>

    </div>



</div>

