@using E_Ticaret_4Son.Models;

@{
    ViewBag.Title = "Ana Sayfa";

    List<Kategoriler> KategoriListesi = ViewBag.KategoriListesi;
    List<Urunler> SonUrunler = ViewBag.SonUrunler;
    List<Kategoriler> SonKategoriler = ViewBag.SonKategoriler;

}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="card">
                    <ul class="menu-category">


                        @foreach (var item in SonKategoriler)
                        {

                            <li>@Html.ActionLink(item.KategoriAdı, "Kategori", new { id = item.KategoriID })</li>

                        }

                        <li class="has-submenu">
                            <a href="#">Diğer Kategoriler</a>
                            <ul class="submenu">
                                @foreach (var item in KategoriListesi)
                                {

                                    <li>@Html.ActionLink(item.KategoriAdı, "Kategori", new { id = item.KategoriID })</li>

                                }
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside> <!-- col.// -->
            <div class="col-md-9">
                <article class="banner-wrap">
                    <img src="~/Content/images/banners/mecolsoft (1).png" class="w-100 rounded">
                </article>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="#" class="btn btn-outline-primary float-right">Tümünü Gör</a>
            <h3 class="section-title">En Son Ürünler</h3>
        </header><!-- sect-heading -->


        <div class="row">
            @foreach (var item in SonUrunler)
            {
                <div class="col-md-3">
                    <div href="~/Home/Urun/@item.UrunID" class="card card-product-grid">
                        <br />
                        <a href="~/Home/Urun/@item.UrunID" class="img-wrap">  <img src="~/İmage/@(item.UrunID).jpg" /> </a>
                        <figcaption class="info-wrap">
                            <a href="~/Home/Urun/@item.UrunID" class="title">
                                <div style=" overflow: hidden;display:-webkit-box;-webkit-line-clamp:2; -webkit-box-orient: vertical;" class="entry-content"><p>@item.UrunAdı</p> </div>

                            </a>
                            <span class="rated">@Html.DisplayFor(a => item.Kategoriler.KategoriAdı)</span>
                            <div class="price mt-1">@item.UrunFiyati.ToString("0,0.") TL</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }

        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->