@using E_Ticaret_4Son.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş Yap";
}

<!-- ============================ COMPONENT LOGIN   ================================= -->
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card-body">
            <h4 class="card-title mb-4">Giriş Yap</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>
                <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Facebook İle Giriş Yap</a>
                <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Google İle Giriş Yap</a>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Posta" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <!-- form-group// -->

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div> <!-- form-group// -->

                <div class="form-group">
                    <a href="#" class="float-right">Şifremi Unuttum?</a>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    <label class="float-left custom-control custom-checkbox">@Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" }) <div class="custom-control-label"> Beni Hatırla </div> </label>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Giriş  </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    }
</div> <!-- card .// -->
<p class="text-center mt-4">Hesabın yok mu? <a href="Register">Kayıt Ol</a></p>
<br>
<br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
<!-- ========================= SECTION CONTENT END// ========================= -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}