@model E_Ticaret_4Son.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            @Html.AntiForgeryToken()
            <header class="mb-4"><h4 class="card-title">Kayıt Ol</h4></header>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <form>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" placeholder="Adınız">
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Soyad</label>
                        <input type="text" class="form-control" placeholder="Soyadınız">
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <label>E-Posta</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Postanızı Yazın" })
                    <small class="form-text text-muted">
                        E-postanızı asla başkalarıyla paylaşmayacağız
                    </small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" checked="" type="radio" name="gender" value="option1">
                        <span class="custom-control-label">Erkek</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="gender" value="option2">
                        <span class="custom-control-label">Kadın</span>
                    </label>
                </div> <!-- form-group end.// -->
               
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Şifre</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifrenizi Yazın", autocomplete = "new-password" })
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Tekrar Şifre</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Şifrenizi Tekrar Yazın", autocomplete = "new-password" })
                    </div> <!-- form-group end.// -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Kabul ediyorum <a href="#">Koşullar Ve Şartlar</a>  </div> </label>
                </div> <!-- form-group end.// -->
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Hesabın var mı? <a href="">Giriş Yap</a></p>
    <br>
    <br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
